{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookify</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;1,600&family=Lato:ital,wght@1,400;1,700&family=Rubik:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;1,600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;1,600&family=Rubik:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Figtree:wght@300&family=Source+Sans+3:ital,wght@1,200;1,400&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;1,600&family=Rubik:wght@400;500&display=swap" rel="stylesheet">

    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/report-gen/book-login.css' %}"/>
    {% endblock %}

   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/89bd88e196.js" crossorigin="anonymous"></script>

    
    <style>
.content-placeholder {
  background-image: url('{% static "assets/vendor/libs/report-gen/bookcover.jpeg" %}');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  height: 600px;
  display: flex;
  align-items: center; 
  background-color: transparent;
  background-attachment: fixed;
  justify-content: center; 
}


.purchased-badge{
    width: 300px;
   font-size: 18px;
   
   
}

.badge-div{
    margin-top: -24px;
    margin-bottom: 18px;
    /* display: none; */
}
    </style>
</head>
<body>
 

<header class="header header-sticky">
    <a href="#">
        <img class="logo cos-logo" alt="Coslogo" src="{% static 'assets/vendor/libs/report-gen/bookify2.png' %}" />
      
        <span class="logo-text">Life through Books ...♡</span>
    </a>
    <nav class="main-nav">
        <ul class="main-nav-list">
            <li><a class="main-nav-link" href="#">Home</a></li>
            <li><a class="main-nav-link" href="#">About</a></li>
            
            <li><a class="main-nav-link" href="#">Features</a></li>
            <li><a href="{% url 'purchase-page'%}"><div class="cart">
                <span class="count"></span>
                
                <i class="material-icons">shopping_cart</i>
              </div></a></li>
            <li>
                <div class="profile">
                <a class="main-nav-link-nav-cta" href="#">
                    <img class="user-logo" alt="userlogo" src="{% static 'assets/vendor/libs/report-gen/user.png' %}" />
            </a> 
            <div class="menu">
                <ul>
                  <li><a class = my-link href="#"><i class="ph-bold ph-envelope-simple"></i>{{ username }}</a></li>
                  <li><a class = my-link href="#"><i class="ph-bold ph-envelope-simple"></i>&nbsp;orders</a></li>
                  <li><a class = my-link href="#"><i class="ph-bold ph-gear-six"></i>&nbsp;Settings</a></li>
                  <!-- <li><a href="#"><i class="ph-bold ph-question"></i>&nbsp;Help</a></li> -->
                  <li><a class = my-link href="#"><i class="ph-bold ph-sign-out"></i>&nbsp;Sign Out</a></li>
                </ul>
              </div>
            </div>
        </li>
            
        </ul>
    </nav>
</header>

<div class="text-center slider-text">
    <h1 id="blinking-text" >Take a Quick look at our Top selling Books </h1>
</div>

<main class="content-placeholder">
    
    <div class="button-container style="position: relative;">
        <div class="row">

            <button class="fortnite">FEATURED BOOKS<span class = fspan></span></button>
           
          </div>
        
       
        </div>
       
          
      

        </div>
    
        
        
    </div>

</main>


<!-- Quick Services Section -->
<section class="quick-services container-2">
    <div class="container">
        <div class="row">
            
            <!-- Grid 1 -->
            <div class="col-md-4">
                
                <div class="service-box grid-box">
                    <div class ="badge-div"> 
                        <span  class="badge badge-danger purchased-badge">Purchased already</span>
                    </div>
                    
                    <div class="service-box1 service-img-container">
                        <img class="service-img" src="" alt="Book Image">
                    </div>
                    <p class = "book-name">book name  -<span class = book-span></span> </p>
                    <p class="service-description"></p>
                    
                    <a href="#" id ="read-more" class="service-link ">Read more</a>
                    <button class="add-to-cart">
                        <div class="default">Add to cart</div>
                       
                    </button>
                    
                </div>
                
            </div>
            
            <!-- Grid 2 -->
            <div class="col-md-4">
                <div class="service-box grid-box">
                    <div class="service-box1 service-img-container">
                        <img class="service-img" src="" >
                    </div>
                    <p class = "book-name">book name  -<span class = book-span></span> </p>
                    <p class="service-description"></p>
                    <a href="#" id ="read-more" class="service-link">Read more</a>
                    <button class="add-to-cart">
                        <div class="default">Add to cart</div>
                    
                    </button>
                </div>
            </div>
            
            
            <!-- Grid 3 -->
            <div class="col-md-4">
                <div class="service-box grid-box">
                    <div class="service-box1 service-img-container">
                        <img class="service-img" src="" >
                    </div>
                    <p class = "book-name">book name  -<span class = book-span>hello</span> </p>
                    <p class="service-description"></p>
                    <a href="#" id ="read-more"class="service-link">Read more</a>
                    <button class="add-to-cart">
                        <div class="default">Add to cart</div>
                     
                    </button>
                </div>
            </div>

            <!-- Grid 4 -->
            <div class="col-md-4">
                <div class="service-box grid-box">
                    <div class="service-box1 service-img-container">
                        <img class="service-img" src="" >
                    </div>
                    <p class = "book-name">book name  -<span class = book-span>hello</span> </p>
                    <p class="service-description"></p>
                    <a href="#" id ="read-more" class="service-link">Read more</a>
                    <button class="add-to-cart">
                        <div class="default">Add to cart</div>
                    
                    </button>
                </div>
            </div>

            <!-- Grid 5 -->
            <div class="col-md-4">
                <div class="service-box grid-box">
                    <div class="service-box1 service-img-container">
                        <img class="service-img" src="" >
                    </div>
                    <p class = "book-name">book name  -<span class = book-span>hello</span> </p>
                    <p class="service-description"></p>
                    <a href="#" id ="read-more"class="service-link">Read more</a>
                    <button class="add-to-cart">
                        <div class="default">Add to cart</div>
                   
                    </button>
                </div>
            </div>

            <!-- Grid 6 -->
            <div class="col-md-4 scale">
                <div class="service-box grid-box">
                    <div class="service-box1 service-img-container">
                        <img class="service-img" src="" >
                    </div>
                    <p class = "book-name">bookname  -<span class = book-span>hello</span> </p>
                    <p class="service-description"></p>
                    <a href="#" id ="read-more"class="service-link">Read more</a>
                    <button class="add-to-cart">
                        <div class="default">Add to cart</div>
                  
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- download section -->

<!-- end of download section -->

<!-- start naturos video container  -->
<section class="section-stories">
    <div class="bg-video">
        <video class="bg-video__content" autoplay="" muted="" loop="">
            <source src="{% static 'assets/vendor/libs/report-gen/libraryclip.mp4' %}" type="video/mp4">
            <source src="img/video.webm" type="video/webm">
            Your browser is not supported!
        </video>
    </div>

    <div class="u-center-text u-margin-bottom-big">
        <div class="video-text-container">
            <h2 class="heading-secondary">
                Why <span style="color:#e67e22;">Bookify</span>
            </h2>
            <h2 class="description-text">
                
Welcome to Bookify, where premium reads meet unbeatable prices! Dive into a curated collection of popular books for a literary journey like no other. We pride ourselves on offering a touch of luxury at reasonable costs.

For our registered Bookify users, the excitement goes further with exclusive 50% off discounts on special occasions. It's our way of saying thank you for being part of our community of book enthusiasts.
            </h2>
        </div>
    </div>
    

  
</section>


<div class="row footer link-container" id="contactus">
    <div class="col-md-4 col-sm-4 col-lg-4 first-link-box">
        <h2 class = "contact">Toll free number & mail services </h2>
      
        <p class ="office-mail"><i class= aria-hidden="true"></i>+91-98765 432101</p>
        <p class ="office-mail"><i class= aria-hidden="true"></i>bookify@gmail.com</p>
        <h2>Follow us</h2>
        <ul class="social">
            <li><a href="javascript:void(0);" onclick="OpenFacebook();"><img src="{% static 'assets/vendor/libs/report-gen/facebook.png' %}"></a></li>&nbsp;&nbsp;
            <li><a href="javascript:void(0);" onclick="OpenInstagram();"><img src="{% static 'assets/vendor/libs/report-gen/instagram.png' %}"></a></li>&nbsp;&nbsp;
            <li><a href="javascript:void(0);" onclick="OpenLinkedIn();"><img src="{% static 'assets/vendor/libs/report-gen/linkedin.png' %}"></a></li>&nbsp;&nbsp;
            <li><a href="javascript:void(0);" onclick="OpenTwitter();"><img src="{% static 'assets/vendor/libs/report-gen/youtube.png' %}"></a></li>&nbsp;&nbsp;
            <li><a href="javascript:void(0);" onclick="OpenYouTube();"><img src="{% static 'assets/vendor/libs/report-gen/twitter.png' %}"></a></li>
        </ul>
        


    </div>
   
    <div class="col-md-3 col-sm-2 col-lg-3 first-link-box">
        <h2>Our Partners</h2>
        <ul>
            <li class = "product-list"><a href="javascript:void(0);">BookWorld.co</a></li>
            
            <li class = "product-list"><a href="javascript:void(0);" >Lianli foundation</a></li>
            
        </ul>

    </div>
    
    <div class="col-md-3 col-sm-2 col-lg-2 first-link-box">
        <h2>Download Mobile App</h2>
        <p class = "qr">Scan below QR code</p>
        <img class="scan-img qr-img" src="{% static 'assets/vendor/libs/report-gen/scan.png' %}">
        <p><img class="app-img app-img" src="{% static 'assets/vendor/libs/report-gen/app1.png' %}"></p>
    </div>
</div>


<!-- end of link section -->



<!-- footer section -->
<div  class="row text-center footer-bottom ">
    <div class="col-md-12 col-lg-12 text-center p-0">
        <p id = "footer-margin" class="px-4">
            <a href="#" >© Bookify</a> , Chennai | All Rights Reserved | Bookify is registered trademark , Chennai .
        </p>
    </div>
      

        <script>
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            // Event listener for Add to Cart buttons
            document.querySelectorAll('.add-to-cart').forEach(button => {
                button.addEventListener('click', e => {
                    
                    let bookId = button.dataset.bookId;
                    console.log(JSON.stringify({ book_id: bookId }));
        
                    // Send request to add the item to the cart
                    fetch('/add_to_cart/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            // Include CSRF token if needed
                        },
                        body: JSON.stringify({ book_id: bookId })
                    }).then(() => {
                        // After adding to cart, fetch the updated count
                        updateCartItemCount();
                    });
                });
            });
        
            // Function to update the cart item count
            function updateCartItemCount() {
                fetch('http://127.0.0.1:8000/api/cart_item_count/')
                .then(response => response.json())
                .then(data => {
                    const count_span = document.querySelector('.count');
                    count_span.textContent = data.cartItemCount;
                    console.log("Cart item count updated to: " + data.cartItemCount);
                })
                .catch(error => console.error('Error:', error));
            }
        
            // Initial call to set the cart item count on page load
            updateCartItemCount();
        
            // Other existing scripts
        
            var navbar = document.querySelector('.header');
            window.addEventListener('scroll', function() {
                if (window.scrollY > 100) {
                    navbar.classList.add('scrolled');
                } else {
                    navbar.classList.remove('scrolled');
                }
            });
        
            let profile = document.querySelector('.profile');
            let menu = document.querySelector('.menu');
        
            profile.onclick = function () {
                menu.classList.toggle('active');
            }
        
            // Fetch and display books
            document.addEventListener('DOMContentLoaded', function() {
                fetch('http://127.0.0.1:8000/bookupdate/',{
                    method: 'GET',
                    credentials: 'include',
                    headers: {
                            'Content-Type': 'application/json',
                            // Include CSRF token if needed
                            
                        },
                })
                
                .then(response => response.json())
                .then(data => {
                    const gridBoxes = document.querySelectorAll('.service-box.grid-box');
        
                    data.forEach((book, index) => {
                        if (index < gridBoxes.length) {
                            const gridBox = gridBoxes[index];
        
                            const image = gridBox.querySelector('.service-img');
                            image.src = '/static/' + book.image_path;
        
                            const bookNameSpan = gridBox.querySelector('.book-span');
                            bookNameSpan.textContent = book.name;
        
                            const description = gridBox.querySelector('.service-description');
                            description.textContent = book.truncated_description;
        
                            const addToCartButton = gridBox.querySelector('.add-to-cart');
                            addToCartButton.dataset.bookId = book.id;
                        }
                    });
                })
                .catch(error => console.error('Error:', error));
            });
        </script>
        
</body>
</html>