{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/report-gen/login_valid.css' %}"/>
    {% endblock %}
</head>
<body>
    
    <div id="algn">
        <div id="container">
            <p class="head">Login</p>
            <form method="post" action="{% url 'login-auth' %}" class="input-container">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Enter username" class="inpt" required>
                <input type="password" name="password" placeholder="Enter password" class="inpt" required>
                <div class="rem-forgot">
                   
                </div>
                <button type="submit" class="btn">Login</button>
            </form>
            <p class="footer">Don't have an account? <a href="#">Register</a></p>
        </div>
    </div>
    
    
</body>
</html>